	*{
		-webkit-user-select: none;   
		-moz-user-select: none;    
		-ms-user-select: none;    
		user-select: none;
	}
	body{
	/*background: linear-gradient(150deg,#45526f 45%,#9aa5a6 30%,#3d4f66 20%);*/
	/*background: RGBA(254,50,87);*/
	background: #131417;
	/*filter:blur(3px);*/
	/*filter: grayscale(100%);*/
		}
	.container {
	
		background:rgba(1,1,1,.1985);
	}	
	#got:hover{
		color: #333;
		font-weight: bold;
	}
	.fa{
	    margin: 10px;
	}
	.s-type-list label:hover,
	.menu__link:hover,
	.menu__link[data-submenu]:hover::after,
	.menu__link--current::before {
		color: #1278f6;
	}
	#search-text,
	.search-type input,
	.search-type input:hover+label,
	.search-type input:checked+label{
		background:rgba(0,0,0,0.356);
		color:#fff;
	}
	.s-type-list
	{
	background:rgba(0,0,0,0.356);
	}
	.s-type-list:before{
		border-bottom-color:rgba(0,0,0,0.3);
	}
	
	.s-type-list label{
		color:#fff;
	}
	.product{
	    display: block;
	    float: left;
	    box-sizing: border-box;
	}
	#gk{
	    position: relative;
	    z-index: 0;
	}
	@media screen and (max-width: 40em) {
		body{
			background-size:100%;
		}
		.container{
			height: 100vh;
		}
		.product{
			background: #fff;
			color:#000;
		}
		.search-type input:checked+label, .search-type input:hover+label,
		#search-text,.s-type-list
		{
		background:rgba(0,0,0,0.5);
		}
		.s-type-list:before{
			border-bottom-color:rgba(0,0,0,0.3);
		}
		
		.s-type-list label{
			color:#fff;
		}
	
	}
	::-webkit-scrollbar
    {
        width: 6px;
        height: 6px;
    }
    ::-webkit-scrollbar-track
    {
        border-radius: 0px;
        background: none;
    }
    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
        background:rgba(0,0,0,0.1);
    }
    ::-webkit-scrollbar-thumb:hover
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
        background-color: rgba(85, 85, 85, 0.3);
    }